{% extends "layout.html" %}
{% block content %}
<h1>{{ title }}</h1>
    {% if results and search_term %}
    <dl>
        {% for (recipe_type, nested_dict) in results|dictsort %}
        <dt>{{ recipe_type }}:</dt>
        <dd>
            <ul>
                {% for (name, versions) in nested_dict|dictsort(false, 'key') %}
                <li>
                    {% if '' not in versions.keys() and versions.keys()|length > 1 %}
                    <div id="recipe_type{{ loop.index }}" data-children=".item">
                        <div class="item">
                            <a data-toggle="collapse"
                               data-parent="recipe_type{{ loop.index }}"
                               href="#recipe_type{{ loop.index }}-versions"
                               aria-expanded="false"
                               aria-controls="recipe_type{{ loop.index }}-versions">
                                {{ name }} -
                                <small>
                                    <span class="badge badge-pill badge-secondary text-light">
                                        {{ versions.keys()|length }}
                                    </span>
                                </small>
                                versions
                            </a>
                            <div id="recipe_type{{ loop.index }}-versions" class="collapse"
                                 role="tabpanel">
                                <ul>
                                    {% for (version, url) in versions|dictsort(false, 'key') %}
                                    <li><a href="../../{{ url }}">{{ version }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {% for (version, url) in versions|dictsort(false, 'key') %}
                    <a href="../../{{ url }}">
                        {{ name }}
                        {% if version %} ({{ version }}){% endif %}
                    </a>
                    {% endfor %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
        </dd>
    </dl>
    {% elif search_term %}
        <h4>Nothing found.</h4>
    {% endif %}
{% endblock %}