recursive-include citkat/templates *
recursive-include citkat/modules */static/*
recursive-include citkat/modules */templates/*
recursive-include citkat/static *
recursive-exclude citkat/static *.json
recursive-exclude citkat/static .npmrc
prune citkat/static/node_modules
recursive-include citkat/static/node_modules */dist/jquery.slim.min.js */dist/js/bootstrap.min.js */dist/umd/popper.min.js */dist/css/bootstrap*.min.css */marked.min.js */build/sprite.octicons.svg */build/octicons.min.css