recursive-include citkat/templates *
recursive-include citkat/static *
prune citkat/static/css/github.css
prune citkat/static/node_modules
recursive-include citkat/static/node_modules */dist/jquery.slim.min.* */dist/js/bootstrap.min.* */dist/umd/popper.min.* */dist/css/bootstrap*.min.*