{% extends "layout.html" %}
{% block content %}
<h1>{{ title }}:</h1>
<ul>
    {% for (key, value) in listing|dictsort(false, 'key') %}
    <li>
        {% if '' not in value.keys() and value.keys()|length > 1 %}
        <div id="m{{ loop.index }}" data-children=".item">
            <div class="item">
                <a data-toggle="collapse"
                   data-parent="m{{ loop.index }}"
                   href="#m{{ loop.index }}-versions"
                   aria-expanded="false"
                   aria-controls="m{{ loop.index }}-versions">
                    {{ key }} -
                    <small>
                        <span class="badge badge-pill badge-secondary text-light">
                            {{ value.keys()|length }}
                        </span>
                    </small>
                    versions
                </a>
                <div id="m{{ loop.index }}-versions" class="collapse"
                     role="tabpanel">
                    <ul>
                        {% for (key2, value2) in value|dictsort(false, 'key') %}
                        <li><a href="../../{{ value2 }}">{{ key2 }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        {% for (key2, value2) in value|dictsort(false, 'key') %}
        <a href="../../{{ value2 }}">
            {{ key }}
            {% if key2 %} ({{key2}}){% endif %}
        </a>
        {% endfor %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}