{% extends "layout.html" %}
{% block content %}
<h1>{{ title }}:</h1>
<ul>
    {% for (name, versions) in listing|dictsort(false, 'key') %}
    <li>
        {% if '' not in versions.keys() and versions.keys()|length > 1 %}
        <div id="m{{ loop.index }}" data-children=".item">
            <div class="item">
                <a data-toggle="collapse"
                   data-parent="#m{{ loop.index }}"
                   href="#m{{ loop.index }}-versions"
                   aria-expanded="false"
                   aria-controls="#m{{ loop.index }}-versions">
                    {{ name }} -
                    <small>
                        <span class="badge badge-pill badge-secondary text-light">
                            {{ versions.keys()|length }}
                        </span>
                    </small>
                    versions
                </a>
                <div id="m{{ loop.index }}-versions" class="collapse"
                     role="tabpanel">
                    <ul>
                        {% for (version, url) in versions|dictsort(false, 'key') %}
                        <li><a href="../../{{ url }}">{{ version }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        {% for (version, url) in versions|dictsort(false, 'key') %}
        <a href="../../{{ url }}">
            {{ name }}
            {% if version %} ({{ version }}){% endif %}
        </a>
        {% endfor %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}