<!doctype html>
<html>
<head>
    {{ include_xml_template('head.xml') }}
    {% block head %}{% endblock %}
    <title>{% block title %}{{ title or 'Untitled' }}{% endblock %} // CITKat</title>
</head>
<body>
<div class="container" style="padding-left: 0; padding-right: 0;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        {{ include_xml_template('navbar-head.xml') }}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/browse/" id="BrowseDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Browse</a>
                    <div class="dropdown-menu" aria-labelledby="BrowseDropdown">
                        <a class="dropdown-item" href="/browse/distribution/">System Versions</a>
                        <a class="dropdown-item" href="/browse/project/">Component Versions</a>
                        <a class="dropdown-item" href="/browse/experiment/">Experiments</a>
                        <a class="dropdown-item" href="/browse/dataset/">Datasets</a>
                        <a class="dropdown-item" href="/browse/hardware/">Hardware Versions</a>
                    </div>
                </li>
                {{ include_additional_menu_items() }}
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="s">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" hidden="true">Search</button>
            </form>
        </div>

    </nav>
    <div class="container">
        {% block content %}{{ content }}{% endblock %}
    </div>
</div>
{{ include_xml_template('footer.xml') }}
</body>
</html>