<!doctype html>
<html>
<head>
    {{ include_xml_template('head.xml') | safe }}
    <title>{{ title }} // {{ name }}</title>
</head>
<body>
<div class="container" style="padding-left: 0; padding-right: 0;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        {{ include_xml_template('navbar-head.xml') | safe }}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/browse/" id="BrowseDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Browse</a>
                    <div class="dropdown-menu" aria-labelledby="BrowseDropdown">
                        <a class="dropdown-item" href="/browse/distributions/">System Versions</a>
                        <a class="dropdown-item" href="/browse/projects/">Component Versions</a>
                        <a class="dropdown-item" href="/browse/experiments/">Experiments</a>
                        <a class="dropdown-item" href="/browse/datasets/">Datasets</a>
                        <a class="dropdown-item" href="/browse/hardware/">Hardware Versions</a>
                    </div>
                </li>
                {{ include_additional_menu_items() | safe }}
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="s">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" hidden="true">Search</button>
            </form>
        </div>

    </nav>
    <div class="container">
        {% block body %}{% endblock %}
        {% if body_markdown %}
        <div data-markdown="true" style="white-space: pre-line;">{{ body_markdown | safe }}</div>
        {% endif %}
    </div>
</div>

{% if body_markdown %}
<script src="/static/node_modules/marked/marked.min.js"></script>
<script>
document.body.querySelector('[data-markdown=true]').innerHTML = marked(document.body.querySelector('[data-markdown=true]').textContent);
document.body.querySelector('[data-markdown=true]').removeAttribute('style');
</script>
{% endif %}
{{ include_xml_template('footer.xml') | safe }}
</body>
</html>