<?xml version="1.0" encoding="UTF-8"?>
<div class="card" id="backlinks">
    <div class="card-header">
        <h5>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                 class="octicon octicon-link">
                <use xlink:href="#link"/>
            </svg>
            Recipe used by:
            <small>
                <span class="badge badge-pill badge-info" style="float: right;">{{ count }}</span>
            </small>
        </h5>
    </div>
    <div class="card-body hideContent">
        <dl>
            {% for type in backlinks_items.keys() %}
            <dt>{{ type|title }}:</dt>
            <dd>
                <ul>
                    {% for name in backlinks_items[type].keys() %}
                    <li>
                        {% if backlinks_items[type][name]|length == 2 %}
                        <div>
                            {% for version in backlinks_items[type][name].keys() %}
                            {% if not version == 'filename_wo_version' %}
                            <a href="{{ backlinks_items[type][name][version] }}">{{ name }} - {{ version }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <div id="{{ backlinks_items[type][name].filename_wo_version }}" data-children=".item">
                            <div class="item">
                                <a data-toggle="collapse"
                                   data-parent="{{ backlinks_items[type][name].filename_wo_version }}"
                                   href="#{{ backlinks_items[type][name].filename_wo_version }}Box"
                                   aria-expanded="false"
                                   aria-controls="{{ backlinks_items[type][name].filename_wo_version }}Box">
                                    {{ name }} - Show versions
                                    <small>
                                        <span class="badge badge-pill badge-secondary text-light">
                                            {{ backlinks_items[type][name].keys()|length }}
                                        </span>
                                    </small>
                                </a>
                                <div id="{{ backlinks_items[type][name].filename_wo_version }}Box"
                                     class="collapse" role="tabpanel">
                                    {% for version in backlinks_items[type][name].keys() %}
                                    {% if not version == 'filename_wo_version' %}
                                    <div>
                                        <a href="../{{ backlinks_items[type][name][version] }}">{{ version }}</a>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </dd>
            {% endfor %}
        </dl>
    </div>
</div>