<div class="card" id="backlinks">
    <div class="card-header">
        <h5>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                 class="octicon octicon-link">
                <use xlink:href="#link"/>
            </svg><small>
                <span class="badge badge-pill badge-info" style="float: right;">{{ count }}</span>
            </small>
            {% if err_count %}
            <small>
                <a style="float: right; color: red;" href="#backlinks" title="{{ err_count }} doublette(s) found! See server log for more details">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="octicon octicon-issue-opened">
                        <use xlink:href="#issue-opened" />
                    </svg>
                </a>
            </small>
            {% endif %}
            {% if recipe_type == 'person' %}
            Person involved in
            {% else %}
            Recipe used by
            {% endif %}
        </h5>
    </div>
    <div class="card-body hideContent">
        <dl>
            {% for type in backlinks_items.keys()|sort %}
            <dt>{{ type|title }}:</dt>
            <dd>
                <ul>
                    {% for name in backlinks_items[type].keys()|sort %}
                    <li>
                        {% if backlinks_items[type][name]|length == 2 %}
                        <div>
                            {% for version in backlinks_items[type][name].keys() %}
                            {% if not version == 'filename_wo_version' %}
                            <a href="{{ backlinks_items[type][name][version] }}">
                                {{ name }}{% if version %} ({{ version }}){% endif %}
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <div id="{{ backlinks_items[type][name].filename_wo_version }}" data-children=".item">
                            <div class="item">
                                <a data-toggle="collapse"
                                   data-parent="{{ backlinks_items[type][name].filename_wo_version }}"
                                   href="#{{ backlinks_items[type][name].filename_wo_version }}-versions"
                                   aria-expanded="false"
                                   aria-controls="{{ backlinks_items[type][name].filename_wo_version }}-versions">
                                    {{ name }} -
                                    <small>
                                        <span class="badge badge-pill badge-secondary text-light">
                                            {{ backlinks_items[type][name].keys()|length - 1 }}
                                        </span>
                                    </small>
                                    versions
                                </a>
                                <div id="{{ backlinks_items[type][name].filename_wo_version }}-versions"
                                     class="collapse" role="tabpanel">
                                    <ul>
                                        {% for version in backlinks_items[type][name].keys()|sort %}
                                        {% if not version == 'filename_wo_version' %}
                                        <li>
                                            <a href="../{{ backlinks_items[type][name][version] }}">{{ version }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </dd>
            {% endfor %}
        </dl>
    </div>
</div>